<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\zabac\source\repos\TournamentTracker\file data"/>
    <add key="greaterWins" value="1"/>
    <add key="senderEmail" value="andre9050@yahoo.com"/>
    <add key="senderDisplayName" value="Tournament Tracker App"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=.;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" userName="test" password="test" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>